body {
    margin: 0px;
    padding: 0px;
}
.thumbFrame {
    overflow: hidden;
    border: 0;
    margin: 1;
    height: 100px;
    width: 200px;
}
div.thumbMenu{
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}
