body {
    margin: 0px;
    padding: 0px;
}
.thumbFrame {
    overflow: hidden;
    border: thin solid gray;
    margin: 1;
    height: 250px;
    width: 250px;
}
div.thumbMenu{
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}
