body {
    margin: 0px;
    padding: 0px;
}
.thumbFrame {
    overflow: hidden;
    border: thin solid gray;
    margin: 1;
    height: 250px;
    width: 250px;
}
div.thumbMenu{
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}
.colorCollectable{
    display: inline-block;
    height: 40px;
    width: 60px;
    border: thin solid gray;
}
.colorContainer{
    padding: 10px;
    display: inline-block;
    font-size: 8pt;
    text-align: center;
}
div.colorMenu{
    padding: 10px;
    white-space: nowrap;
    text-align: center;
    display: inline-block;
}
.linkwrap { position:relative; display:inline-block; }
.blocker { position:absolute; height:100%; width:100%; z-index:1; background:rgba(255,0,0,0);  }
.linkwrap iframe { z-index: 2; }
